<div id="<%= dom_id tweet %>">
  <h6 class="">
    <%= tweet.username %>
  </h6>
  <p>
    <div class="card">
      <div class="card-body">
        <%= tweet.description %>
      </div>
    </div>
  </p>
</div>
